* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

input {
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
}

.error {
    text-align: left;
    color: red;
    margin-top: 5px;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    border-radius: 5px;
    box-shadow: none;
    cursor: pointer;
}